/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Light blue: #87ceeb  Sky blue 
Medium blue: #4682b4 Steel blue 
Dark blue: #1e3a5f  Deep ocean blue
*/
$color-primary: #4682b4;
$color-primary-light: #87cfeb;
$color-primary-dark: #1e3a5f;

$color-grey-dark: #777;
$color-back: #000;
